<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general-fragments.html :: head('Admin Dashboard')}"></head>

<body class="sb-nav-fixed">
<nav th:replace="~{fragments/general-fragments.html :: topnav}"></nav>

<div id="layoutSidenav">
	<div th:replace="~{fragments/general-fragments.html :: sidenav}"></div>
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<h1 class="mt-4" th:text="#{dashboard.label}">Dashboard</h1>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item active" th:text="#{dashboard.label}">Dashboard</li>
				</ol>
				<div class="row">
					<div class="col-xl-6">
						<div class="card mb-4">
							<div class="card-header" th:text="#{user-activity.label}">
								<i class="fas fa-chart-area me-1"></i>
								User Activity
							</div>
							<div class="card-body">
								<canvas height="40" id="myAreaChart1" width="100%"></canvas>
							</div>
						</div>
					</div>

					<div class="col-xl-6">
						<div class="card mb-4">
							<div class="card-header" th:text="#{created-posts.label}">
								<i class="fas fa-chart-area me-1"></i>
								Created Posts
							</div>
							<div class="card-body">
								<canvas height="40" id="myAreaChart2" width="100%"></canvas>
							</div>
						</div>
					</div>
				</div>

				<div class="card mb-4">
					<div class="card-header" th:text="#{users-table.label}">
						<i class="fas fa-table me-1"></i>
						Users Table
					</div>
					<div class="card-body">
						<table id="datatablesSimple">
							<thead>
							<tr>
								<th th:text="#{name.label}">Name</th>
								<th th:text="#{user.username.label}">Username</th>
								<th th:text="#{posts-count.label}">Posts Count</th>
								<th th:text="#{comments-count.label}">Comments Count</th>
								<th th:text="#{last-login.label}">Last Login</th>
								<th th:text="#{options.label}">Options</th>
							</tr>
							</thead>
							<tfoot>
							<tr>
								<th th:text="#{name.label}">Name</th>
								<th th:text="#{user.username.label}">Username</th>
								<th th:text="#{posts-count.label}">Posts Count</th>
								<th th:text="#{comments-count.label}">Comments Count</th>
								<th th:text="#{last-login.label}">Last Login</th>
								<th th:text="#{options.label}">Options</th>
							</tr>
							</tfoot>
							<tbody>
							<tr th:each="user : ${users}">
								<td th:text="${user.name}"> Name</td>
								<td th:text="${user.username}"> Username</td>
								<td th:text="${user.postCount}"> Post Count</td>
								<td th:text="${user.commentCount}"> Comment Count</td>
								<td th:text="${#temporals.format(user.lastLogin, 'yyyy-MM-dd HH:mm')}"> Last Login</td>
								<td class="options">
									<div class="container">
										<div class="dropdown d-none" id="dropdownMenu">
											<button aria-expanded="false"
											        class="btn dropdown-toggle border-0 w-100 align-self-center"
											        data-bs-toggle="dropdown" id="dropdownMenuButton"
											        type="button">
											</button>
											<ul aria-labelledby="dropdownMenuButton" class="dropdown-menu">
												<li>
													<form class="d-inline" method="post"
													      th:action="@{/admin/users/{id}/block(id=${user.id})}">

														<input name="_method" type="hidden" value="put"/>

														<button class="dropdown-item" th:unless="${user.blocked}"
														        type="submit"><span
																th:text="#{block.label}">Block</span>
														</button>
													</form>
												<li>
													<form class="d-inline" method="post"
													      th:action="@{/admin/users/{id}/unblock(id=${user.id})}">
														<input name="_method" type="hidden" value="put"/>
														<button class="dropdown-item" th:if="${user.blocked}"
														        type="submit"><span
																th:text="#{unblock.label}">Unblock</span>
														</button>
													</form>
												</li>
												<li>
													<form class="d-inline" method="post"
													      th:action="@{/admin/users/{id}/grant(id=${user.id})}">
														<input name="_method" type="hidden" value="put"/>
														<button class="dropdown-item" th:unless="${user.admin}"
														        type="submit"><span
																th:text="#{grant-admin.label}">Grant Admin</span>
														</button>
													</form>
												</li>
												<li>
													<form class="d-inline" method="post"
													      th:action="@{/admin/users/{id}/revoke(id=${user.id})}">
														<input name="_method" type="hidden" value="put"/>
														<button class="dropdown-item" th:if="${user.admin}"
														        type="submit"><span
																th:text="#{revoke-admin.label}">Revoke Admin</span>
														</button>
													</form>
												</li>
												<li>
													<form class="d-inline" method="post"
													      th:action="@{/users/{id}(id=${user.id})}">
														<input name="_method" type="hidden" value="put"/>
														<button class="dropdown-item"
														        type="submit"><span
																th:text="#{edit.label}">Edit</span>
														</button>
													</form>
												</li>
												<li>
													<form class="d-inline" method="post"
													      th:action="@{/users/{id}(id=${user.id})}">
														<input name="_method" type="hidden" value="delete"/>
														<button class="dropdown-item"
														        type="submit"><span
																th:text="#{delete.label}">Delete</span>
														</button>
													</form>
												</li>
											</ul>
										</div>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer th:replace="~{fragments/general-fragments.html :: footer}"></footer>
	</div>
</div>
<script>
    let postDates = '[[${postDates}]]';
</script>


<script
		crossorigin="anonymous"
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		th:src="'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js'"
></script>
<script src="../static/js/chart-area-demo.js"
        th:src="@{/js/chart-area-demo.js}"></script>
<script
		crossorigin="anonymous"
		src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
		th:src="'https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js'"
></script>
<script src="../static/js/datatables-simple-demo.js"
        th:src="@{/js/datatables-simple-demo.js}"></script>

<th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>
</body>
</html>
