<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general-fragments.html :: head('Create Post')}"></head>

<body class="bg-light">
<nav th:insert="~{fragments/general-fragments.html :: topnav}"></nav>

<div id="layoutSidenav">
    <div th:replace="~{fragments/general-fragments.html :: sidenav}"></div>
    <div id="layoutSidenav_content">
        <main class="h-100 pb-3">
            <div class="container-fluid mt-5">
                <div class="col-8 mx-auto bg-light p-0 rounded-4 shadow" id="contentBox">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4" th:text="#{post.create.label}">
                                Create a Post
                            </h3>
                        </div>
                        <div class="card-body">
                            <form action="#" method="post" th:action="@{__${requestURI}__}">
                                <!-- Title -->
                                <div class="form-floating mb-3">
                                    <input class="form-control"
                                           id="inputTitle"
                                           placeholder="Enter post title"
                                           th:classappend="${#fields.hasErrors('postCreateDTO.title') ? 'is-invalid' : (formSubmitted != null ? 'is-valid' : '')}"
                                           th:field="${postCreateDTO.title}" type="text"/>
                                    <label for="inputTitle" th:text="#{post.title.label}">Post title</label>
                                    <div class="invalid-feedback"
                                         th:if="${#fields.hasErrors('postCreateDTO.title')}"
                                         th:text="${#fields.errors('postCreateDTO.title')}"></div>
                                </div>

                                <!-- Content -->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control"
                                              id="inputContent"
                                              placeholder="Enter your post content"
                                              th:classappend="${#fields.hasErrors('postCreateDTO.content') ? 'is-invalid' : (formSubmitted != null ? 'is-valid' : '')}"
                                              th:field="${postCreateDTO.content}"
                                              style="height: 200px; font-size: 1.25rem;"></textarea>
                                    <label for="inputContent" th:text="#{post.content.label}">Post Content</label>
                                    <div class="invalid-feedback"
                                         th:if="${#fields.hasErrors('postCreateDTO.content')}"
                                         th:text="${#fields.errors('postCreateDTO.content')}"></div>
                                </div>

                                <!-- Tags -->
                                <div class="form-floating mb-3">
                                    <input class="form-control"
                                           id="inputTags"
                                           placeholder="Enter post tags"
                                           th:classappend="${#fields.hasErrors('tagCreateDTO.tags') ? 'is-invalid' : (formSubmitted != null ? 'is-valid' : '')}"
                                           th:field="${tagCreateDTO.tags}" type="text"/>
                                    <label for="inputTags" th:text="#{post.tags.label}">Post tags</label>
                                    <div class="invalid-feedback"
                                         th:if="${#fields.hasErrors('tagCreateDTO.tags')}"
                                         th:text="${#fields.errors('tagCreateDTO.tags')}"></div>
                                </div>

                                <div class="d-grid mt-4 mb-0">
                                    <input class="btn btn-primary btn-block" th:value="#{post.create.label}"
                                           type="submit" value="Create Post"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Ensure footer is inside layoutSidenav_content -->
        <footer th:replace="~{fragments/general-fragments.html :: footer}"></footer>

    </div>
</div>
<th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>

</body>
</html>
