<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general-fragments.html :: head('Home')}"></head>

<body class="sb-nav-fixed">
<nav th:replace="~{fragments/general-fragments.html :: topnav}"></nav>


<div id="layoutSidenav">
  <div th:replace="~{fragments/general-fragments :: sidenav}"></div>
  <div id="layoutSidenav_content">
    <main class="h-100 pb-3">
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-8 mx-auto bg-light p-0 rounded-4 shadow-lg" id="contentBox" style="border: 1px solid rgba(0, 0, 0, 0.2);">
            <div class="px-3 pt-4 d-flex gap-2 align-content-center pb-3 ">
              <a class="btn btn-outline-dark rounded-pill fw-bold" href="#"
                 th:classappend="${currentURI.endsWith('/home') ? 'active' : ''}"
                 th:href="@{/home(searchTerm=${searchTerm})}" th:if="${searchTerm != ''}"
                 th:text="#{posts.label}">
                Posts
              </a>

              <a class="btn btn-outline-dark rounded-pill fw-bold" href="#"
                 th:classappend="${currentURI.endsWith('/home') ? 'active' : ''}"
                 th:href="@{/home}" th:unless="${searchTerm != ''}"
                 th:text="#{posts.label}">
                Posts
              </a>
              <a class="btn btn-outline-dark rounded-pill fw-bold" href="#"
                 th:classappend="${currentURI.endsWith('/users') ? 'active' : ''}"
                 th:href="@{/home/users(searchTerm=${searchTerm})}"
                 th:if="${searchTerm != ''}"
                 th:style="${!isAuthenticated ? 'display: none;' : ''}"
                 th:text="#{users.label}">
                Users
              </a>

              <a class="btn btn-outline-dark rounded-pill fw-bold" href="#"
                 th:classappend="${currentURI.endsWith('/users') ? 'active' : ''}"
                 th:href="@{/home/users}"
                 th:unless="${searchTerm != ''}"
                 th:style="${!isAuthenticated ? 'display: none;' : ''}"
                 th:text="#{users.label}">
                Users
              </a>
              <a class="btn btn-outline-dark rounded-pill fw-bold" href="#"
                 th:classappend="${currentURI.endsWith('/comments') ? 'active' : ''}"
                 th:href="@{/home/comments(searchTerm=${searchTerm})}" th:if="${searchTerm != ''}"
                 th:text="#{comments.label}">
                Comments
              </a>

              <a class="btn btn-outline-dark rounded-pill fw-bold" href="#"
                 th:classappend="${currentURI.endsWith('/comments') ? 'active' : ''}"
                 th:href="@{/home/comments}" th:unless="${searchTerm != ''}"
                 th:text="#{comments.label}">
                Comments
              </a>
            </div>

            <form action="#" class="px-3 my-1 d-flex" th:action="@{__${currentURI}__}"
                  th:object="${filterOptions}">
              <input id="sortByInput" th:field="*{sortBy}" type="hidden"/>
              <input id="sortOrderInput" th:field="*{sortOrder}" type="hidden"/>
              <div class="dropdown">
                <button class="btn btn-dark rounded-pill dropdown-toggle fontsize08"
                        data-bs-toggle="dropdown">
                  <span th:text="#{sort.label}"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="post-sort-option"><a class="dropdown-item sort-option"
                                                  href="#"
                                                  id="sorttitle"
                                                  th:classappend="${!currentURI.endsWith('/home') ? 'd-none' : ''} + ' ' + ${filterOptions.getSortBy() == 'title'? 'active' : ''}"
                                                  th:text="#{title.label}">Title</a>
                  </li>
                  <li class="post-sort-option"><a class="dropdown-item sort-option"
                                                  href="#"
                                                  id="sortlikes"
                                                  th:classappend="${!currentURI.endsWith('/home') ? 'd-none' : ''} +' ' + ${filterOptions.getSortBy() == 'likes' ? 'active' : ''}"
                                                  th:text="#{likes.label}">Likes</a>
                  </li>
                  <li class="post-sort-option"><a class="dropdown-item sort-option"
                                                  href="#"
                                                  id="sortcreatedAt"
                                                  th:classappend="${!currentURI.endsWith('/home') && !currentURI.endsWith('/comments') ? 'd-none' : ''} +' ' + ${filterOptions.getSortBy() == 'createdAt' ? 'active' : ''}"
                                                  th:text="#{most-recent.label}">Likes</a>
                  </li>
                  <li class="post-sort-option"><a class="dropdown-item sort-option"
                                                  href="#"
                                                  id="sortcontent"
                                                  th:classappend="${!currentURI.endsWith('/home') && !currentURI.endsWith('/comments') ? 'd-none' : ''} +' ' + ${filterOptions.getSortBy() == 'content' ? 'active' : ''}"
                                                  th:text="#{content.label}">Content</a>
                  </li>

                  <li class="post-sort-option"><a class="dropdown-item sort-option"
                                                  href="#"
                                                  id="sortusername"
                                                  th:classappend="${!currentURI.endsWith('/users') ? 'd-none' : ''} +' ' + ${filterOptions.getSortBy() == 'username' ? 'active' : ''}"
                                                  th:text="#{username.label}">Username</a>
                  </li>

                  <li class="post-sort-option"><a class="dropdown-item sort-option"
                                                  href="#"
                                                  id="sortfirstName"
                                                  th:classappend="${!currentURI.endsWith('/users') ? 'd-none' : ''} +' ' + ${filterOptions.getSortBy() == 'firstName' ? 'active' : ''}"
                                                  th:text="#{user.first-name.label}">Username</a>
                  </li>

                  <li class="post-sort-option"><a class="dropdown-item sort-option"
                                                  href="#"
                                                  id="sortlastName"
                                                  th:classappend="${!currentURI.endsWith('/users') ? 'd-none' : ''} +' ' + ${filterOptions.getSortBy() == 'lastName' ? 'active' : ''}"
                                                  th:text="#{user.last-name.label}">Username</a>
                  </li>

                </ul>
              </div>

              <div class="ps-2 dropdown">
                <button class="btn btn-dark rounded-pill dropdown-toggle fontsize08"
                        data-bs-toggle="dropdown">
                  <span th:text="#{filter.label}"></span>
                </button>
                <ul class="dropdown-menu">

                  <li><input class="dropdown-item  filter-option" href="#"
                             placeholder="Username"
                             th:classappend="${!currentURI.endsWith('/users') ? 'd-none' : ''}"
                             th:field="*{username}">
                  </li>

                  <li><input class="dropdown-item  filter-option" href="#"
                             placeholder="First Name"
                             th:classappend="${!currentURI.endsWith('/users') ? 'd-none' : ''}"
                             th:field="*{firstName}">
                  </li>

                  <li><input class="dropdown-item  filter-option" href="#"
                             placeholder="Last Name"
                             th:classappend="${!currentURI.endsWith('/users') ? 'd-none' : ''}"
                             th:field="*{lastName}">
                  </li>

                  <li><input class="dropdown-item  filter-option" href="#"
                             placeholder="Title"
                             th:classappend="${!currentURI.endsWith('/home') ? 'd-none' : ''}"
                             th:field="*{title}">
                  </li>
                  <li><input class="dropdown-item  filter-option" href="#"
                             placeholder="Tags"
                             th:classappend="${!currentURI.endsWith('/home') ? 'd-none' : ''}"
                             th:field="*{tags}">
                  </li>

                  <li><input class="dropdown-item  filter-option" href="#"
                             placeholder="Minimum likes"
                             th:classappend="${!currentURI.endsWith('/home') ? 'd-none' : ''}"
                             th:field="*{minLikes}"
                             type="number">
                  </li>

                  <li><input class="dropdown-item  filter-option" href="#"
                             placeholder="Maximum likes"
                             th:classappend="${!currentURI.endsWith('/home') ? 'd-none' : ''}"
                             th:field="*{maxLikes}"
                             type="number"
                  >
                  </li>

                  <li><input class="dropdown-item  filter-option" href="#"
                             placeholder="Content"
                             th:classappend="${!currentURI.endsWith('/home') && !currentURI.endsWith('/comments') ? 'd-none' : ''}"
                             th:field="*{content}"

                  >
                  </li>

                  <li><input class="dropdown-item  filter-option" href="#"
                             placeholder="Creator"
                             th:classappend="${!currentURI.endsWith('/home') && !currentURI.endsWith('/comments') ? 'd-none' : ''}"
                             th:field="*{creatorUsername}"

                  >
                  </li>

                </ul>
              </div>

              <button class="btn btn-outline-primary rounded-pill d-none ms-2 fontsize08"
                      id="applyFilterBtn"
                      type="submit">Apply
              </button>
            </form>

            <div class="px-3 my-1" th:if="${currentURI.contains('comments')}">
              <div th:each="comment : ${foundComments}">
                <hr>
                <div class="btn btn-light w-100 h-100 d-flex flex-column align-items-start clickable-entity"
                     th:attr="redirect-link='/posts/' + ${comment.postId}">
                  <a class="title-link d-inline fst-italic fs-5 text-content" href="#"
                     th:href="@{/posts/{id}(id=${comment.postId})}"
                     th:text="${comment.postTitle}"
                  > This is the title of
                    the
                    post </a>
                  <span class="ps-2 pb-2"> <a class="username-link fw-bold text-content"
                                              href="#"
                                              th:href="@{/users/{id}/overview(id=${comment.creatorId})}"
                                              th:text="${comment.creatorUsername}"> Name </a>  <span
                          class="text-muted"
                          th:text="'commented ' + ${#temporals.format(comment.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"> commented + date </span> </span>
                  <span class="ps-4 text-start text-content"
                        th:utext="${comment.commentContent}">
											-- comment content -- Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Atque culpa eveniet fuga maiores nam numquam qui quo rem vitae
											voluptatum. Assumenda dolor optio quae qui quibusdam? Aperiam architecto
											autem ipsam iure libero neque nostrum qui ratione rerum veritatis? A eveniet
											incidunt modi nam nesciunt nulla pariatur recusandae repellendus rerum,
											velit?
										</span>
                </div>
              </div>
            </div>
            <div class="px-3 my-1" th:if="${currentURI.endsWith('home')}">
              <div th:each="post : ${foundPosts}">
                <hr>
                <div class="btn btn-light w-100 h-100 d-flex flex-column align-items-start clickable-entity"
                     th:attr="redirect-link='/posts/' + ${post.id}">
                  <a class="title-link d-inline fst-italic fs-5" href="#"
                     th:href="@{/posts/{id}(id=${post.id})}"
                     th:text="${post.title}">
                    This is the title of the
                    post </a>
                  <span class="ps-2 pb-2"> <a class="username-link fw-bold"
                                              href="#"
                                              th:href="@{/users/{id}/overview(id=${post.userId})}"
                                              th:text="${post.creatorUsername}"> Name </a>
											<span
                                                    class="text-muted"
                                                    th:text="'posted on ' + ${#temporals.format(post.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"> posted on + date </span> </span>
                  <span class="px-4 text-start pb-2 text-content" th:text="${post.content}"> --post content-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa eveniet fuga maiores nam numquam qui quo rem vitae voluptatum. Assumenda dolor optio quae qui quibusdam? Aperiam architecto autem ipsam iure libero neque nostrum qui ratione rerum veritatis? A eveniet incidunt modi nam nesciunt nulla pariatur recusandae repellendus rerum, velit?</span>
                  <img class="img-fluid mx-auto px-2"
                       src="../static/img/nice-paca-credit-fotolia-1-640x640.jpg"
                       th:src="@{/img/nice-paca-credit-fotolia-1-640x640.jpg}">


                  <div class="d-flex gap-3 pt-2 ps-2">
                    <div class="d-flex align-items-center border border-1 border-dark  rounded-pill"
                         id="buttonGroup1">
                      <a class="btn btn-outline-dark border-0 rounded-circle w-30 voteUp"
                         th:href="@{/posts/{id}/like(id=${post.id}, url=${currentURI})}">
                        <i class="fas fa-arrow-up"
                           id="buttonUp1"
                           th:classappend="${post.reaction == 1} ? 'text-success' : ''"></i>
                      </a>
                      <span class="w-40 px-1 text-black fontsize08"
                            th:text="${post.likes}">152</span>

                      <a class="btn btn-outline-dark border-0 rounded-circle w-30 voteDown"
                         id="buttonDown1"
                         th:href="@{/posts/{id}/dislike(id=${post.id}, url=${currentURI})}">
                        <i class="fas fa-arrow-down justify-content-center"
                           th:classappend="${post.reaction == -1} ? 'text-danger' : ''"> </i>
                      </a>
                    </div>

                    <div class="btn btn-outline-dark rounded-pill d-flex align-items-center gap-1"
                         data-bs-toggle="modal"
                         onclick="event.stopPropagation(); event.preventDefault();"
                         th:data-bs-target="'#commentModal_' + ${post.id}">
                      <i class="fas fa-comment"> </i>
                      <span class="ps-1 fontsize08" th:text="${post.comments.size()}"></span>
                    </div>
                  </div>
                  <!--Comment Modal-->
                  <div aria-hidden="true" class="modal fade" tabindex="-1"
                       th:id="'commentModal_' + ${post.id}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                  type="button"></button>
                        </div>
                        <div class="modal-body">
                          <h5 class="modal-title" th:text="${post.title}">Post
                            Title</h5>
                          <div class="mt-4">
                            <h6>Add a Comment</h6>
                            <form action="#" method="post"
                                  th:action="@{/posts/{id}(id=${post.id}, url=${currentURI})}"
                                  th:object="${comment}">

                              <div class="mb-3">
																<textarea class="form-control" maxlength="200"
                                                                          minlength="1"
                                                                          placeholder="Write your comment here..."
                                                                          required
                                                                          rows="3"
                                                                          th:field="*{content}">
																</textarea>
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-primary"
                                        type="submit">Post
                                  Comment
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="px-3 my-1" th:if="${currentURI.contains('users')}">
              <div th:each="user : ${foundUsers}">
                <hr>
                <div class="btn btn-light w-100 d-flex align-items-center clickable-entity"

                     th:attr="redirect-link='/users/' + ${user.id} +'/overview'">
                  <div class="d-none modal"></div>
                  <!-- Profile Picture (smaller and on the left) -->
                  <img alt="Profile Picture"
                       class="rounded-circle border profile-picture me-3"
                       th:src="@{/img/profile-icon-png-893.png}"
                       style="width: 50px; height: 50px;">
<div class="d-flex flex-column align-items-start justify-content-center pt-2 ">
                  <a class="title-link d-inline fst-italic fs-5 text-content" href="#"
                     th:href="@{/users/{id}/overview(id=${user.id})}"
                     th:text="${user.username}"
                  > This is username of the user </a>
                  <span class="pb-2" style="font-size: 14px"> <p class="fw-bold text-content d-inline ps-2"
                                              th:text="${user.name}"> Name </p>  <span
                          class="text-muted"
                          th:text="'last seen on ' + ${#temporals.format(user.lastLogin, 'dd-MM-yyyy HH:mm')}"> commented + date </span> </span>
</div>

                </div>
              </div>
            </div>








          </div>
        </div>
      </div>
    </main>
    <footer th:replace="~{fragments/general-fragments.html :: footer}"></footer>
  </div>
</div>


<th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>

<script src="../static/js/sort-button.js"
        th:src="@{/js/sort-button.js}"></script>


</body>
</html>