<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general-fragments.html :: head('Reset Password')}"></head>

<body class="bg-light sb-nav-fixed">
<nav th:replace="~{fragments/general-fragments.html :: topnav}"></nav>

<div id="layoutSidenav">
	<div th:replace="~{fragments/general-fragments.html :: sidenav}"></div>
	<div id="layoutSidenav_content">
		<main class="h-100 pb-3">
			<div class="container-fluid mt-5">
				<div class="row justify-content-center">
					<div class="col-8 mx-auto bg-light p-0" id="contentBox">
						<div class="card shadow-lg border-0 rounded-lg">
							<div class="card-header"><h3 class="text-center font-weight-light my-4"
							                             th:text="#{password-retrieval-main.label}">Password
								Recovery</h3></div>
							<div class="card-body">
								<div class="small mb-3 text-muted" th:text="#{password-retrieval-text.label}">Enter your
									username, and we will send you a link
									to reset your password.
								</div>
								<form action="#" method="post"
								      th:action="@{/auth/request-password}" th:object="${user}">
									<div class="form-floating mb-3">
										<input class="form-control" id="username" placeholder="Username"
										       th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : (formSubmitted != null ? 'is-valid' : '')}"
										       th:field="*{username}"
										       type="text"
										/>
										<label for="username" th:text="#{user.username.label}">Username</label>
										<div class="invalid-feedback"
										     th:if="${#fields.hasErrors('username')}"
										     th:text="${#fields.errors('username')}">
										</div>
									</div>
									<div class="d-flex align-items-center justify-content-between mt-4 mb-0">
										<a class="small" href="login.html" th:href="@{/auth/login}"
										   th:text="#{password.return-login.label}">Return to login</a>
										<input class="btn btn-primary" th:value="#{password-reset.label}"
										       type="submit"
										       value="Reset Password"/>
									</div>
								</form>
							</div>
							<div class="card-footer text-center py-3">
								<div class="small"><a href="register.html" th:href="@{/auth/register}">Need an account?
									Sign up!</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer th:replace="~{fragments/general-fragments.html :: footer}"></footer>
	</div>
</div>

<th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>

</body>
</html>
