<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general-fragments.html :: head('Register')}"></head>
<body class="bg-light">
<nav th:replace="~{fragments/general-fragments.html :: topnav}"></nav>
<div id="layoutSidenav">
	<div th:replace="~{fragments/general-fragments.html :: sidenav}"></div>
	<div id="layoutSidenav_content">
		<main class="h-100 pb-3">
			<div class="container-fluid mt-5">
				<div class="row justify-content-center">
					<div class="col-8 mx-auto bg-light p-0" id="contentBox">
						<div class="card shadow-lg border-0 rounded-lg">
							<div class="card-header">
								<h3 class="text-center font-weight-light my-4" th:text="#{register.label}">
									Create Account
								</h3>
							</div>
							<div class="card-body">
								<form action="#" method="post"
								      th:action="@{/auth/register}" th:object="${register}">
									<div class="row mb-3">
										<div class="col-md-6">
											<div class="form-floating mb-3 mb-md-0">
												<input
														class="form-control"
														id="inputFirstName"
														placeholder="Enter your first name"
														th:classappend="${#fields.hasErrors('firstName') ? 'is-invalid' : (formSubmitted != null ? 'is-valid' : '')}"
														th:field="*{firstName}"
														type="text"
												/>
												<label for="inputFirstName" th:text="#{user.first-name.label}">First
													name</label>
												<div class="invalid-feedback"
												     th:if="${#fields.hasErrors('firstName')}"
												     th:text="${#fields.errors('firstName')}">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-floating">
												<input
														class="form-control"
														id="inputLastName"
														placeholder="Enter your last name"
														th:classappend="${#fields.hasErrors('lastName') ? 'is-invalid' : (formSubmitted != null ? 'is-valid' : '')}"

														th:field="*{lastName}"
														type="text"
												/>
												<label for="inputLastName" th:text="#{user.last-name.label}">Last
													name</label>
												<div class="invalid-feedback"
												     th:if="${#fields.hasErrors('lastName')}"
												     th:text="${#fields.errors('lastName')}">
												</div>
											</div>
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-md-6">
											<div class="form-floating mb-3 mb-md-0">
												<input
														class="form-control"
														id="inputEmail"
														placeholder="name@example.com"
														th:classappend="${#fields.hasErrors('emailAddress') ? 'is-invalid' : (formSubmitted != null ? 'is-valid' : '')}"
														th:field="*{emailAddress}"
														type="email"
												/>
												<label for="inputEmail">Email address</label>
												<div class="invalid-feedback"
												     th:if="${#fields.hasErrors('emailAddress')}"
												     th:text="${#fields.errors('emailAddress')}">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-floating">
												<input
														class="form-control"
														id="username"
														placeholder="Enter your username"
														th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : (formSubmitted != null ? 'is-valid' : '')}"
														th:field="*{username}"
														type="text"
												/>
												<label for="username" th:text="#{user.username.label}">Username</label>
												<div class="invalid-feedback"
												     th:if="${#fields.hasErrors('username')}"
												     th:text="${#fields.errors('username')}">
												</div>
											</div>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-md-6">
											<div class="form-floating mb-3 mb-md-0">
												<input
														class="form-control"
														id="inputPassword"
														placeholder="Create a password"
														th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : (formSubmitted != null ? 'is-valid' : '')}"
														th:field="*{password}"
														type="password"
												/>
												<label for="inputPassword"
												       th:text="#{user.password.label}">Password</label>

												<div class="invalid-feedback"
												     th:if="${#fields.hasErrors('password')}"
												     th:text="${#fields.errors('password')}">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-floating mb-3 mb-md-0">
												<input
														class="form-control"
														id="inputPasswordConfirm"
														placeholder="Confirm password"
														th:classappend="${#fields.hasErrors('confirmPassword') ? 'is-invalid' : (formSubmitted != null ? 'is-valid' : '')}"
														th:field="*{confirmPassword}"
														type="password"
												/>
												<label for="inputPasswordConfirm"
												       th:text="#{user.confirm-password.label}"
												>Confirm Password</label
												>
												<div class="invalid-feedback"
												     th:if="${#fields.hasErrors('confirmPassword')}"
												     th:text="${#fields.errors('confirmPassword')}">
												</div>
											</div>
										</div>
									</div>
									<div class="mt-4 mb-0">
										<div class="d-grid">
											<input class="btn btn-primary btn-block" th:value="#{register.label}"
											       type="submit"
											       value="Create Account"/>
										</div>
									</div>
								</form>
							</div>
							<div class="card-footer text-center py-3">
								<div class="small">
									<a href="login.html" th:href="@{/auth/login}" th:text="#{register.login-page}">Have
										an account? Go to login</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer th:replace="~{fragments/general-fragments.html :: footer}"></footer>
	</div>
</div>
<th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>
</body>
</html>
