<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general-fragments.html :: head('Post')}"></head>

<body class="sb-nav-fixed">
<nav th:replace="~{fragments/general-fragments.html :: topnav}"></nav>

<div id="layoutSidenav">
    <div th:replace="~{fragments/general-fragments.html :: sidenav}"></div>
    <div id="layoutSidenav_content">
        <main class="h-100 pb-3">
            <div class="container-fluid mt-5">
                <div class="row justify-content-center">
                    <!-- Centered content with two-thirds width -->
                    <div class="col-12 col-md-8">
                        <div class="card mb-4">
                            <div class="card-header" style="font-size: 36px;">
                                <span th:text="${post.title}"></span>

                                <p class="text-muted text-content" style="font-size: 16px;">
                                    Posted by
                                    <a class="text-content"
                                       th:href="@{/users/{id}/overview(id=${post.userId})}"
                                       th:text="${post.creatorUsername}">
                                        User
                                    </a>
                                    on
                                    <span class="text-content"
                                          th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy HH:mm')}">Date</span>
                                </p>
                            </div>

                            <div class="card-body">
                                <div th:text="${post.content}" class="fs-4 mt-3"></div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Tag List -->
                                    <div class="tags-container">
                                        <span class="tag" th:each="tag : ${post.tags}">
                                            <a th:href="@{/home/tags/{tagName}(tagName=${tag})}" th:text="${tag}">Tag</a>
                                        </span>
                                    </div>
                                    <!-- Update and Delete buttons -->
                                    <div class="d-flex justify-content-end tags-container">
                                        <a href="#" th:if="${sessionUserId==post.userId && !userIsBlocked}"
                                           th:href="@{__${requestURI}__/update}" class="btn btn-primary btn-sm rounded-pill">Update</a>
                                        <a href="#"
                                           th:if="${(sessionUserId==post.userId || userIsAdmin) && !userIsBlocked}"
                                           data-bs-toggle="modal" data-bs-target="#deleteModal"
                                           th:data-href="@{/posts/{id}/delete(id=${post.id})}"
                                           class="btn btn-danger btn-sm rounded-pill">Delete</a>
                                    </div>
                                </div>

                                <!-- Delete Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1"
                                     aria-labelledby="deleteModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5 class="modal-title" id="deleteModalLabel">Are you sure you want
                                                    to delete this post?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <a href="#" id="confirmDelete" class="btn btn-danger"
                                                   th:href="@{/posts/{id}/delete(id=${post.id})}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex gap-3 pt-2">
                                    <div class="d-flex align-items-center border border-1 border-dark rounded-pill"
                                         id="buttonGroup1">
                                        <a class="btn btn-outline-dark border-0 rounded-circle w-30 voteUp"
                                           th:href="@{/posts/{id}/like(id=${post.id})}">
                                            <i class="fas fa-arrow-up"
                                               id="buttonUp1"
                                               th:classappend="${userReaction == 1} ? 'text-success' : ''"></i>
                                        </a>
                                        <span class="w-40 px-1 text-black fontsize08"
                                              th:text="${post.likes}">152</span>

                                        <a class="btn btn-outline-dark border-0 rounded-circle w-30 voteDown"
                                           id="buttonDown1"
                                           th:href="@{/posts/{id}/dislike(id=${post.id})}">
                                            <i class="fas fa-arrow-down justify-content-center"
                                               th:classappend="${userReaction == -1} ? 'text-danger' : ''"> </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body mb-4">
                            <form action="#" method="post" th:action="@{/posts/{id}(id=${post.id})}"
                                  th:object="${commentCreateDto}">
                                <div class="mb-3">
                                    <h6>Add a Comment</h6>
                                    <label for="textarea"></label><textarea class="form-control" id="textarea"
                                                                            placeholder="Write your comment here..."
                                                                            rows="3"
                                                                            th:classappend="${#fields.hasErrors('content') ? 'is-invalid' : ''}"
                                                                            th:field="*{content}"></textarea>
                                    <div class="invalid-feedback" th:errors="*{content}"
                                         th:if="${#fields.hasErrors('content')}"></div>
                                </div>
                                <button class="btn btn-primary" type="submit">Post Comment</button>
                            </form>
                        </div>

                        <!-- Comment List Container -->
                        <div class="comments-list-container mt-4">
                            <div class="comments-section">
                                <h6>Comments</h6>
                                <div id="comments-container">
                                    <div th:each="comment : ${post.comments}">
                                        <div class="comment-box">
                                            <p class="text-muted text-content" style="font-size: 14px;">
                                                <a class="text-content"
                                                   th:href="@{/users/{id}/overview(id=${comment.creatorId})}"
                                                   th:text="${comment.creatorUsername}">
                                                    User
                                                </a>
                                                on
                                                <span class="text-content"
                                                      th:text="${#temporals.format(comment.createdAt, 'dd-MM-yyyy HH:mm')}">Date</span>
                                            </p>
                                            <p th:text="${comment.commentContent}" class="fs-5">Comment content</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Pagination Controls -->
                            <nav>
                                <ul class="pagination" id="pagination-controls">
                                    <!-- Pagination buttons will be inserted here by JavaScript -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{fragments/general-fragments.html :: footer}"></footer>
    </div>
</div>

<th:block th:replace="~{fragments/general-fragments.html :: scripts}"></th:block>
<script src="../static/js/comment-pagination.js"
        th:src="@{/js/comment-pagination.js}"></script>

</body>
</html>
